#tubular-overlay {
  background-color: rgba(48, 48, 48, 0.6);
  position: fixed;
  z-index: 0.5;
  width: 100%;
  height: 100%;
  animation: fadecolour 10s ease-in;
}

#tubular-player {
  animation: fadein 10s ease-in;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadecolour {
    from { background-color: rgba(24, 24, 24, 1.0); }
    to   { background-color: rgba(48, 48, 48, 0.6); }
}